<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team29.cse110.team29dejaphoto">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/custom_icon_med"
        android:label="Deja Photo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="layout.WIDGET_DejaPhoto">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget__deja_photo_info" />
        </receiver>

        <service android:name=".PhotoService" />

        <activity
            android:name=".CustomAlbumActivity"
            android:label="@string/title_activity_custom_album"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team29.cse110.team29dejaphoto.MainActivity" />
        </activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AlbumSelection" />
        <activity android:name=".InAppPhotoGallery" />
        <activity android:name=".CopiedPhotosGallery" />
        <activity android:name=".FriendsPhotosGallery" />
        <activity
            android:name=".PhotoPickerActivity"
            android:label="@string/title_activity_photo_picker"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".SharingService"
            android:exported="false"></service>
    </application>

</manifest>